# Ignore the build and lib dirs
build
lib/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store

# Ignore xcode project
robot_localization.xcodeproj/*

# Ignore vscode project
.vscode/*
.vs/*

# Ignore python source code
code/*
