# Ignore the build and lib dirs
build
lib/*

# Ignore any executables
bin/*

# Ignore result directory
result/*

# Ignore Mac specific files
.DS_Store

# Ignore xcode project
robot_localization.xcodeproj/*
